.controls{
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.controls div{
  display: flex;

}

#calendar {
    margin: 0 auto;
      width: 50%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 60px);
  gap: 5px;
}

.title{
  font-weight: 700;
}

.cell {
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.other-month{
  color:rgb(170, 160, 160)
}
